.container {
    background-color: antiquewhite;
    margin: 0 auto;
    width: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: blueviolet;
}

.container span{
    color: blue;
}
